* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  text-align: center;
  margin-top: 50px;
}

.garbage-container {
  text-align: center;
  margin-top: 50px;
  width: 200px;
  height: 300px;
  background-color: #eee;
  overflow: hidden;
  margin: 0 auto;
  border: 2px solid #555;
  border-radius: 0 0 50px 50px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}

.garbage {
  width: 100%;
  position: relative;
}

.empty-part {
  background-color: #eee;
  width: 100%;
}

.filled-part {
  width: 100%;
  background-color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  justify-content: flex-end;
}

.item-image {
  max-width: 80%;
  height: auto;
  margin: 5px 0;
}

.fill {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.capsules-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.capsule {
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.input-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.input-row {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.input-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-cell label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-cell input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #3EA794;
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-left: 3px;

}

button:hover {
  background-color: #43bba5;
}

.close-button {
  background-color: #e74c3c;

}

.hidden-sections-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.hidden-section {
  margin-left: 10px;
  
}

.search-bar {
  margin-bottom: 20px;
}

.search-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 5px;
}

.search-input input {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.chart-container {
  text-align: center;
  margin-top: 50px;
  width: 250px;
  height: 340px;
  background-color: #eee;
  overflow: hidden;
  margin: 0;
  border: 2px solid #555;
  border-radius: 0 0 50px 50px;
  position: relative;
  display: none;
}

.visible {
  display: block;
}


.hidden {
  display: none;
}

.actions-header {
  position: relative;
}

.compareBtn {
  background-color: #f7af07;
  border: 2px black solid;
}

.compareBtn:hover {
  background-color: #f0c664;
}

.nivo_calendar {
  height: 500px !important;
}

.saveBtn {
  height: 42px;
}

@media (max-width: 600px) {
  .garbage-container {
    width: 150px;
    height: 220px;
  }

  .input-row {
    flex-direction: column;
  }

  .chart-container {
    width: 250px;
    height: 328px;
  }
}

@media (max-width: 768px) {
  button {
    padding: 6px 12px;
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  button {
    padding: 4px 8px;
    font-size: 1.2rem;
    margin: 1.5px;
  }
}

@media (max-width: 400px) {
  button {
    padding: 4px 8px;
    font-size: 1rem;
    margin: 1px;
  }
}


.chart-container {
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.actions {
  text-align: center !important;
 
}

.tableBtns{
  font-size: 25px !important;
  background-color: #9ca0a6 !important;
  margin: 1px !important;
}

.tableBtns:hover{
  background-color: #6cc2b3 !important;

}


.data-table{
  margin-top: 40px;
  border: 1px solid rgb(0, 0, 0);
  
}

.sticky-header{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(62,167,148);

}